{% extends 'base.html' %}

{% block content %}
	<h2>We are just a bunch of Enthusiastic people,who wants to help The Society.</h2>
	<p style="color: white;">Get ready to embark on an incredible journey with us! Our project is more than just a website - it's a celebration of innovation, inclusivity, and making a difference in the world. We're on a mission to revolutionize accessibility and empower individuals with hearing impairments to thrive in every aspect of life.</p>
    <p style="color: white;">Join us as we harness the power of technology, creativity, and teamwork to create a brighter, more inclusive future for everyone!</p>
	<hr>
 	<h3>Our Creator Team:</h3>
 	<ul class="td">
		<li>RIYA SUMRA</li>
		<li>MANSI MANOCHA</li>
		<li>ARGHYA AGRAWAL</li>
  	</ul>
	<hr>
	<p class="td">Thank you, For visiting our website ! </p>
{% endblock %}
